MONGO_CONNECTION=tu_conexion
MONGO_DB=tu_db

JWT_AUTH_SCREATE="/$&&%/$/$(%)/&)(/%)((/&))" #patron de ejemplo

#Cloudinary -> cloudinary://API_KEY:API_SECRET@CLOUDINARY_URL
API_KEY_CLOUDINARY= tu_clave_cloudinary
API_SECRET_CLOUDINARY= tu_s_api_cloudinary
CLOUDINARY_URL=tu_cloudinary_url

# Frontend URL for redirections (Stripe, etc.)
FRONTEND_URL=http://localhost:5173