@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme{

    --font-Bitcount: 'Bitcount Prop Double';

    --color-indigo-to-yellow: #818cf8; /* Indigo 400 por defecto */
    --color-indigo-to-black: #818cf8; /* Indigo 400 por defecto */

    --color-white-to-black: #ffffff; /* Blanco por defecto */
    --color-black-to-white: #000000; /* Negro por defecto */

    --color-gray-to-yellow: #9ca3af; /* Gray 400 por defecto */
    --color-gray-to-black: #9ca3af; /* Gray 400 por defecto */

    --color-lightgray-to-black:#e5e7eb; /* Gray 200 por defecto */
    --color-lightgray-to-yellow:#e5e7eb; /* Gray 200 por defecto */

    --font-main: 'Poppins', ui-sans-serif, system-ui;
    --font-Dyslexic: 'OpenDyslexic',sans-serif;    


}

:root[data-size="small"] {font-size: 18px ;}
:root[data-size="medium"] {font-size: 20px ;}
:root[data-size="large"] {font-size: 24px ;}

.font-dyslexic{
    --font-main: var(--font-Dyslexic);
    --font-Bitcount: var(--font-Dyslexic);
}

.high-contrast {
    --color-white-to-black: #000000;
    --color-black-to-white: #ffffff;

    --color-indigo-to-yellow: #ffff00;
    --color-indigo-to-black: #000000; 

    --color-gray-to-yellow: #ffff00;
    --color-gray-to-black: #000000;

    --color-lightgray-to-black:#000000;
    --color-lightgray-to-yellow:#ffff00;

    background-color: #000000 !important;
    color: #ffffff !important;
}


body {
    font-family: var(--font-main);
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}